p{
    color:green;
}
h1{background-color:hotpink;
font-size: large;
}
.red{
    color: red;
}
.blue{color: blue;}
<--!--> class

h1{

}
<!-ID->
#green{color: green;}

p 
  {text-align: right;
    font-size: large;
    font-weight: bolder;
    font-style: italic;}