
P{color:plum;}

    h2{color:plum;background-color: aqua;}
    .purple {color: purple;}
body {color:plum;background-color: grey;}
    .Plum {color:plum;}

  p 
  {text-align: right;
    font-size: large;
    font-weight: bolder;}
    body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    form{font-weight: bold;}